<footer>
    <table>
        <tr>
            <td>
                <h5>To test features</h5>
                <p>1.Leave location blank, click <code>Search</code>, get error message</p>
                <p>2.Type invalid location like !!!, click <code>Search</code>, get error message</p>
                <p>3.Type search term like pretoria, click <code>Search</code>, get valid weather results</p>
                <p>4.Refresh page, weather info is gone</p>
                <p>5.Click on links in Menu => Weather or About or Help</p>
                <p>6.Type invalid url in routing e.g. replace /help in route with /aaa, route to error page with message
                </p>
            </td>
            <td>
                <h5>Information</h5>
                <p>Uses views(index, about, help, error) and partial views (header, footer)</p>
                <p>Use fetch as event on search button to call express get</p>
                <p>Change URL, do direct express get call to url, or error for * routes (invalid routes)</p>
                <p>Code in github https://github.com/daleneserfontein/SageWeather.git</p>
                <p>Use heroku to deploy and host</p>
                <p>Added ssh key, gave heroku public key to be able to deploy</p>
                <p>Push commits to github</p>
                <p>Deploy to heroku with <code>git push heroku master</code></p>
            </td>
        </tr>
    </table>
    <h5>Today is {{dateToday}}</h5>

</footer>