<img class="imgAll" src="../img/file/home.png">
<p>{{description}}</p>

<form>
    <div id="infoMessage"></div>
    <div id="errMessage"></div>
    <br>
    <p><input id="fleName" placeholder="File Name"></p>
    <p><input id="idProp" placeholder="Id"></p>
    <p><input id="bodyProp" placeholder="Body"></p>
    <br>

    <button id="listFile">List</button>
    <button id="clearFile">Clear</button>
    <button id="getItem">Get</button>
    <button id="addItem">Add</button>
    <button id="editItem">Edit</button>
    <button id="removeItem">Remove</button>
    <br>
    <br>
    <p>
        <table id="fileDiv">
        </table>
    </p>
</form>

<script src="../js/file/clientFile.js"></script>