<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="img/file/file.png">
        <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">        
    </head>
    <body id="fileBody">
        <div class="main-content">
            {{>fileHeader}}            
            {{{body}}}            
        </div>
        {{>fileFooter}}
    </body>
    
</html>