/* ======================================================== */
/* ================== BASIC =============================== */
/* ======================================================== */
body {
    font-family: 'Alatsi', 'sans-serif';
    color: #333333;    
    max-width: 100%;
    text-align: center;
    margin:0 auto;
    padding: 0 50px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;    
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    font-family: 'Alatsi', 'sans-serif';
}

button {
    cursor: pointer;
    border: 1px solid #5C39F7;
    background:#5C39F7;
    color: white;
    padding: 8px;
    font-family: 'Alatsi', 'sans-serif';
}

td {
    text-align: left;
    vertical-align: top;
}

table {
    margin: 2px;
    padding: 2px;
    color: rgb(18, 76, 80);
    width:100%;   
}

code {
    background-color: lightgray;
    border-radius: 5px;
    padding:2px;
}

/* ======================================================== */
/* ================== HOME ================================ */
/* ======================================================== */
#homeHeader {
    margin: 15px;
}

#homeHeader a {
    color:grey;
    text-decoration: none;
}

#homeHeader h1 {
    background-color: navy;
    margin: 2px;
    padding: 15px;
    color: white;    
}

#homeFooter h5 {
    background-color: navy;
    margin: 2px;
    padding: 15px;
    color: white;
}

#homeBody #homeMenuHome {
    color:navy;
}


/* ======================================================== */
/* ================== WEATHER ============================= */
/* ======================================================== */

#weatherHeader {
    margin: 15px;
}

#weatherHeader a {
    color:grey;
    text-decoration: none;
}

#weatherFooter h5 {
    background-color:#5C39F7;
    margin: 2px;
    padding: 15px;
    color:white;
    border-top: 1px solid rgb(18, 76, 80);    
}

#weatherHeader h1 {
    background-color:#5C39F7;
    margin: 2px;
    padding: 15px;
    color: white;
    border-top: 1px solid rgb(18, 76, 80);    
}

#weatherBody #homeMenuWeather {
    color:#5C39F7;
}

/* #weatherBody #weatherMenuWeather {
    color:#5C39F7;
} */


/* ======================================================== */
/* ================== MONGO =============================== */
/* ======================================================== */

#mongoHeader {
    margin: 15px;
}

#mongoHeader a {
    color:grey;
    text-decoration: none;
}

#mongoFooter h5 {
    background-color:#FF6000;
    margin: 2px;
    padding: 15px;
    color:white;
    border-top: 1px solid rgb(18, 76, 80);    
}

#mongoHeader h1 {
    background-color:#FF6000;
    margin: 2px;
    padding: 15px;
    color: white;
    border-top: 1px solid rgb(18, 76, 80);    
}

#mongoDiv td {
    border: 1px solid #FF6000;
}

#mongoBody #homeMenuMongo {
    color:#FF6000;
}

/* ======================================================== */
/* ================== FILE ================================ */
/* ======================================================== */

#fileHeader h1 {
    background-color: #FF6000;
    margin: 2px;
    padding: 15px;
    color: white;
    border-top: 1px solid rgb(18, 76, 80);    
}

#fileHeader {
    margin: 15px;
}

#fileHeader a {
    color:grey;
    text-decoration: none;
}

#fileFooter h5 {
    background-color:#01C584;
    margin: 2px;
    padding: 15px;
    color:white;
    border-top: 1px solid rgb(18, 76, 80);    
}

#fileHeader h1 {
    background-color: #01C584;
    margin: 2px;
    padding: 15px;
    color: white;
    border-top: 1px solid rgb(18, 76, 80);    
}

#fileBody #homeMenuFile {
    color:#01C584;
}


/* ======================================================== */
/* ================== CLASS =============================== */
/* ======================================================== */

.imgAll {
    height:100px;
}

.main-content {
   flex-grow: 1; 
}

/* ======================================================== */
/* ================== IDS ================================= */
/* ======================================================== */
p#errMessage {    
    color:red;
    font-weight: bold;
}

p#resultsFor {
    color:green;
}

p#placeName {
    font-weight: bold;
}

#createdBy {
    color: grey;
    font-size: smaller;
}

#menuItems {
    font-size: larger;
}

#subMenuItems {
    font-size: large;
}


