body {
    font-family: 'Alatsi', 'sans-serif';
    color: #333333;    
    max-width: 100%;
    text-align: center;
    margin:0 auto;
    padding: 0 50px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;    
}


#homeHeader {
    margin: 15px;
}

#homeHeader a {
    color:grey;
    text-decoration: none;
}

#homeHeader h1 {
    background-color: navy;
    margin: 2px;
    padding: 15px;
    color: white;    
}

#homeFooter h5 {
    background-color: navy;
    margin: 2px;
    padding: 15px;
    color: white;
}


#weatherHeader {
    margin: 15px;
}

#weatherHeader a {
    color:grey;
    text-decoration: none;
}

#weatherFooter h5 {
    background-color:#5C39F7;
    margin: 2px;
    padding: 15px;
    color:white;
    border-top: 1px solid rgb(18, 76, 80);    
}

#weatherHeader h1 {
    background-color:#5C39F7;
    margin: 2px;
    padding: 15px;
    color: white;
    border-top: 1px solid rgb(18, 76, 80);    
}

.imgAll {
    height:100px;
}

.main-content {
   flex-grow: 1; 
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    font-family: 'Alatsi', 'sans-serif';
}

button {
    cursor: pointer;
    border: 1px solid #5C39F7;
    background:#5C39F7;
    color: white;
    padding: 8px;
    font-family: 'Alatsi', 'sans-serif';
}

p#errMessage {    
    color:red;
    font-weight: bold;
}

p#resultsFor {
    color:green;
}

p#placeName {
    font-weight: bold;
}

#createdBy {
    color: grey;
    font-size: smaller;
}

td {
    text-align: left;
    vertical-align: top;
}

table {
    margin: 2px;
    padding: 2px;
    color: rgb(18, 76, 80);
    width:100%;   
}

code {
    background-color: lightgray;
    border-radius: 5px;
    padding:2px;
}

#menuItems {
    font-size: larger;
}