<header id="weatherHeader">
<h1>{{title}}</h1>
<br>
<div id="menuItems">
    <a href="/">Home</a> |
    <a href="/weather">Weather</a> |
    <a href="/weather/about">About</a> |
    <a href="/weather/help">Help</a>    
</div>
<div id="createdBy">
    <p>Created by {{name}}</p>
</div>
</header>