<header id="homeHeader">
<h1>{{title}}</h1>
<br>
<div id="menuItems">
    <a href="/">Home</a> |
    <a href="/weather">Weather</a> |
    <a href="/files">Files</a> |
    <a href="/mongoDB">MongoDB</a>

    <p id="createdBy">Created by {{name}}</p>
</div>
</header>