<div id="menuItems">
    <a id="homeMenuHome" href="/">Home</a> |
    <a id="homeMenuWeather" href="/weather">Weather</a> |
    <a id="homeMenuFile" href="/file">File</a> |
    <a id="homeMenuMongo" href="/mongo">Mongo</a> |
     <a id="homeMenuAbout" href="/about">About</a> |
    <a id="homeMenuHelp" href="/help">Help</a>
</div>
